
    <style>
        .container {
            border: 0px solid Gray;
            text-align: center;
        }

        .main {
            height: 300px;
            border: 0px solid;
    </style>

<body>
    <div class="container">
        <div class="col-md-12"></div>

        <div class="col-md-3">
            <div class="main"></div>
        </div>
        <div class="col-md-6">
            <div class="main">
                <div class="panel panel-info "  style="height:400px">
                    <div class="panel-heading" style="height:50px"></div>
                    <div class="panel-body" style="height:200px">
                        <p style="font-size:50px">請感應卡片<br><br></p>
                        <span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="font-size:120px"></span>


                    </div>
                </div>


                <div class="col-md-3">
                    <div class="main">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
