
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_autoreload.cshtml";
}

<script language="javascript">
    window.onload = init
    function init(){
        setTimeout("location.href=''", 1000);
    }
</script>

<link href="~/Content/patient/css/metro.css" rel="stylesheet" />
<link href="~/Content/patient/css/metro-icons.css" rel="stylesheet" />
<link href="~/Content/patient/css/bootstrap.css" rel="stylesheet" />
    <style>
        .container {
            border: 0px solid Gray;
            text-align: center;
        }

    </style>


    <div class="container">
    <div class="col-md-12">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <div class="panel" style="margin-top:50px">
                <div class="heading" style="height:60px">
                    <span class="title" ><a style="font-size:20px;font-family:微軟正黑體">病患登入
                        </a></span>
                </div>
                <div class="content">
                    <p style="font-size:50px;font-family:微軟正黑體">請感應卡片</p>
                    <span class="mif-credit-card mif-4x" style="height:150px;width:100%"></span>
                </div>
            </div>
            <div class="col-md-4">
                
            </div>


        </div>


    </div>
</div>
            
           
       
