
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>dCare Doctor System</title>
<head>
    <meta charset="UTF-8">
    <!--bootstrap CDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!---------->
    <link href="~/Content/doctor/css/doctor-index.css" rel="stylesheet">
    <link href="~/Content/doctor/css/metro.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <!-----------------------bat-->
        <div class="app-bar red">
            <a class="app-bar-element branding">dCare Doctor</a>
            <span class="app-bar-divider"></span>
            <ul class="app-bar-menu">
                <li><a href="">預約時間設定</a></li>
            </ul>
            <div class="app-bar-element place-right">
                <ul class="app-bar-menu">
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
        </div>

        <!--bar-end -->
        <!----------------------table-->
        <div class="col-md-8 main">

            <div class="maintabletitle"><h3>代診列表</h3></div>
            <table class="col-md-8 table table-hover maintable">
                <tr class="active"><td>看診順序</td><td>姓名</td><td>預約時間</td><td>報到狀況</td><td>詳細資料</td></tr>
                <tr><td>1</td><td>John</td><td>2017/10/24 14:30</td><td>以報到</td><td>詳細資料</td></tr>
                <tr><td>1</td><td>John</td><td>2017/10/24 14:30</td><td>以報到</td><td>詳細資料</td></tr>
                <tr><td>1</td><td>John</td><td>2017/10/24 14:30</td><td>以報到</td><td>詳細資料</td></tr>
                <tr><td>1</td><td>John</td><td>2017/10/24 14:30</td><td>以報到</td><td>詳細資料</td></tr>
                <tr><td>1</td><td>John</td><td>2017/10/24 14:30</td><td>以報到</td><td>詳細資料</td></tr>
                <tr><td>1</td><td>John</td><td>2017/10/24 14:30</td><td>以報到</td><td>詳細資料</td></tr>
            </table>
            <!--<div class="pagination rounded pagenum mainpagenum">-->
            <!--            <span class="item current">1</span>-->
            <!--            <span class="item">2</span>-->
            <!--            <span class="item">3</span>-->
            <!--            <span class="item">4</span>-->
            <!--            <span class="item">5</span>-->
            <!--</div>           -->

            <nav aria-label="Page navigation" id="mainpagenum">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>



        </div>
        <!----------------------table end-->
        <!----------------------left-->
        <div class="col-md-4 leftbox">
            <div class="leftboxtitle"><h3>詳細資料</h3></div>
            <div class="leftboxin">

                <div class="leftboxin-top">
                    <img src="~/img/john.jpg" alt="" class="img-rounded" height="100" width="100" style="float:left">
                    <address>
                        <strong>John</strong><br>
                        性別:男<br>
                        出生年月日:0000000<br>
                        <abbr title="Phone">電話:</abbr>(123)456-7890<br>
                        <abbr title="address">地址:</abbr>OOOOOOOOO
                    </address>
                    <button type="button" class="btn btn-success btn-block" onclick="window.open('view.html', '通訊視窗', config='height=600,width=1000');">視訊通話</button>

                </div>

                <div class="leftboxin-und">
                </div>
            
                </div>
            </div>
        </div>
        <script>


        </script>
</body>
</html>