<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>dCare Admin</title>
    <link rel="stylesheet" href="~/Content/doctor/css/metro.css">
    <link rel="stylesheet" href="~/Content/doctor/css/metro-icon.css">
    <link rel="stylesheet" href="~/Content/doctor/css/metro-responsive.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/scripts/doctor/metro.js" type="text/javascript"></script>
    <script src="~/scripts/doctor/datatable.js" type="text/javascript"></script>

    <style>
        html, body {
            height: 100%;
            font-family:"微軟正黑體";
        }

        body {
        }

        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }

        .table .input-control.checkbox {
            line-height: 1;
            min-height: 0;
            height: auto;
        }

        #cell-content {
            flex-basis: calc(100% - 52px);
        }

        
    </style>

</head>


<body class="bg-steel">
    <div class="app-bar fixed-top darcula" data-role="appbar">
        <a class="app-bar-element branding">dCare Admin</a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li data-flexorderorigin="0" data-flexorder="1"><a href="">回首頁</a></li>
            <li data-flexorderorigin="1" data-flexorder="2">
                <a href="" class="dropdown-toggle">系統列表</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="">醫生系統</a></li>
                    <li><a href="">病患系統</a></li>
                    <li><a href="">報到系統</a></li>
                    <li><a href="">看診系統</a></li>
                </ul>
            </li>
            <li data-flexorderorigin="2" data-flexorder="3"><a href="">設定</a></li>
            <li data-flexorderorigin="3" data-flexorder="4"><a href="">設定</a></li>
            
            <li data-flexorderorigin="4" data-flexorder="5">
                <a href="" class="dropdown-toggle">幫助</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="">聯絡資料</a></li>
                    <li><a href="">關於</a></li>
                </ul>
            </li>
        </ul>

        <div class="app-bar-element place-right">
            <span class="dropdown-toggle"><span class="mif-cog"></span>管理員</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
                <h2 class="text-light">設定</h2>
                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white1 fg-hover-yellow">個人資料</a></li>
                    <li><a href="Login" class="fg-white3 fg-hover-yellow">登出</a></li>
                </ul>
            </div>
        </div>

        <div class="app-bar-pullbutton automatic" style="display: none;"></div><div class="clearfix" style="width: 0;"></div><nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;"><ul class="app-bar-pullmenubar hidden app-bar-menu"></ul></nav>
    </div>
    <div class="page-content">
        <div class="flex-grid no-responsive-future" style="height: 100%;">
            <div class="row" style="height: 100%">
                <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                    <ul class="sidebar">
                        <li>
                            <a href="#">
                                <span class="mif-apps icon"></span>
                                <span class="title">統計表資料</span>
                            </a>
                        </li>
                        <li>
                            <a href="Patient">
                                <span class="mif-vpn-publ icon"></span>
                                <span class="title">病患資料</span>
                            </a>
                        </li>
                        <li>
                            <a href="Doctor">
                                <span class="mif-drive-eta icon"></span>
                                <span class="title">醫生資料</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mif-cloud icon"></span>
                                <span class="title">看診列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mif-database icon"></span>
                                <span class="title">健檢資料表</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mif-cogs icon"></span>
                                <span class="title">預約系統表</span>
                            </a>
                        </li>

                    </ul>
                </div>

               
                 @RenderBody()



            </div>
        </div>
    </div>

    <script>
        function pushMessage(t){
            var mes = 'Info|Implement independently';
            $.Notify({
                caption: mes.split("|")[0],
                content: mes.split("|")[1],
                type: t
            });
        }

        $(function(){
            $('.sidebar').on('click', 'li', function(){
                if (!$(this).hasClass('active')) {
                    $('.sidebar li').removeClass('active');
                    $(this).addClass('active');
                }
            })
        })
    </script>


</body>
</html>