<!DOCTYPE html>
<html>
<head>
    
 
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Content/patient/css/bootstrap.css" rel="stylesheet"></link>
    <link href="~/Content/patient/css/metro.css" rel="stylesheet">
    <link href="~/Content/patient/css/metro-icons.css" rel="stylesheet">
    <script src="~/scripts/patient/js/jquery.js"></script>
    <script src="~/scripts/patient/js/metro.js"></script>
    <script src="~/scripts/patientjs/select2.min.js"></script>


</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>

   
</body>
</html>