
<body style="font-family:微軟正黑體">
    <div class="container">
        <div class="col-md-12">
            <div class="app-bar">
                <span class="app-bar-divider"></span>
                <ul class="app-bar-menu">
                    <li><a href="index">回到首頁</a></li>
                </ul>
            </div>


            <div class="tabcontrol2" data-role="tabcontrol">
                <ul class="tabs">

                    <li><a href="#frame_1" style="font-size:20px">預約紀錄</a></li>
                    <li><a href="#frame_2" style="font-size:20px">看診紀錄</a></li>
                </ul>
                <div class="frames">

                    <div class="frame" id="frame_1">
                        <table class="dataTable striped border bordered" role="grid" aria-describedby="example_table_info" data-role="datatable" data-searching="true">
                            <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>時段</th>
                                    <th>科別</th>
                                    <th>醫生</th>
                                    <th href="step1">修改預約</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>日期</th>
                                    <th>時段</th>
                                    <th>科別</th>
                                    <th>醫生</th>
                                    <th><a>修改預約</a></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a href="look1">修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                    <td><a>修改預約</a></td>
                                </tr>
                        </table>

                    </div>

                    <div class="frame" id="frame_2">
                        <table class="dataTable striped border bordered" role="grid" aria-describedby="example_table_info" data-role="datatable" data-searching="true">
                            <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>時段</th>
                                    <th>科別</th>
                                    <th>醫生</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>日期</th>
                                    <th>時段</th>
                                    <th>科別</th>
                                    <th>醫生</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                                <tr>
                                    <td>2017/06/30</td>
                                    <td>下午</td>
                                    <td>內科</td>
                                    <td>卓清澤</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
