<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8" />
    <link href="css/bootstrap.css" rel="stylesheet"></link>
    <link href="css/metro.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/metro.js"></script>
    <style type="text/css">
        .container {
            /*border:1px solid Gray;*/
            /*text-align:center;*/
        }
    </style>

</head>

<body style=font-family:"微軟正黑體">
    <div class="container">
        <div class="col-md-12">
            <div class="app-bar">
                <span class="app-bar-divider"></span>
                <ul class="app-bar-menu">
                    <li><a href="index1.html">Home</a></li>
                </ul>
            </div>




            <div class="tabcontrol2" data-role="tabcontrol" style="magin-top:10px">
                <ul class="tabs">
                    <li><a href="#frame_1" style="font-size:20px">我要預約</a></li>
                    <li><a href="#frame_2" style="font-size:20px">預約紀錄</a></li>
                    <li><a href="#frame_3" style="font-size:20px">看診紀錄</a></li>

                </ul>

                <div class="frames" style="text-align:center">

                    <div class="frame" id="frame_1">

                        <div class="row">
                            <div class="col-md-2" style="font-size:20px">上午<br><br></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期一<br>10/30</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期二<br>10/31</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期三<br>11/1</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期四<br>11/2</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期五<br>11/3</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期六<br>11/4</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <table class="table table-hover">
                                        <td><input type="radio">外科</td>
                                        <td>王老伯</td>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                    <table class="table table-hover">
                                        <td><input type="radio">外科</td>
                                        <td>王老伯</td>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                    <table class="table table-hover">
                                        <td><input type="radio">外科</td>
                                        <td>王老伯</td>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                    <table class="table table-hover">
                                        <td><input type="radio">外科</td>
                                        <td>王老伯</td>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                    <table class="table table-hover">
                                        <td><input type="radio">外科</td>
                                        <td>王老伯</td>
                                    </table>
                                </div>
                                <div class="col-md-2">
                                    <table class="table table-hover">
                                        <td><input type="radio">外科</td>
                                        <td>王老伯</td>
                                    </table>
                                </div>


                            </div>
                            <br>
                            <hr>

                        </div>

                        <div class="row">
                            <div class="col-md-2" style="font-size:20px">下午<br><br></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期一<br>10/30</tr>
                                    <td><input type="radio">內科</td>
                                    <br>
                                    <td>楊木環</td>
                                </table>
                            </div>

                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期一<br>10/31</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期一<br>11/1</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期一<br>11/2</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期一<br>11/3</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <tr>星期一<br>11/4</tr>
                                    <td><input type="radio">內科</td>
                                    <td>楊木環</td>
                                </table>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <td><input type="radio">外科</td>
                                    <td>王老伯</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <td><input type="radio">外科</td>
                                    <td>王老伯</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <td><input type="radio">外科</td>
                                    <td>王老伯</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <td><input type="radio">外科</td>
                                    <td>王老伯</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <td><input type="radio">外科</td>
                                    <td>王老伯</td>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <table class="table table-hover">
                                    <td><input type="radio">外科</td>
                                    <td>王老伯</td>
                                </table>
                            </div>


                        </div>
                        <input type="button" value="選擇送出">
                    </div>

                    <div class="frame" id="frame_3">
                        <table class="table table-hover">
                            <tr><td>日期時間</td><td>醫生名字</td><td>科別</td></tr>
                            <tr><td>2017/02/01 14:00</td><td>楊木環</td><td>內科</td><br></tr>
                            <tr><td>2017/07/20 15:00</td><td>楊木環</td><td>內科</td><br></tr>
                            <tr><td>2017/10/30 15:30</td><td>楊木環</td><td>內科</td><br></tr>
                        </table>

                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="frame" id="frame_2">
                        <table class="table table-hover">
                            <tr><td>日期時間</td><td>醫生名字</td><td>科別</td><td>預約</td></tr>
                            <tr><td>2017/02/01 14:00</td><td>楊木環</td><td>內科</td><td>預約完成</td><br></tr>
                            <tr><td>2017/07/20 15:00</td><td>楊木環</td><td>內科</td><td>預約完成</td><br></tr>
                            <tr><td>2017/10/30 15:30</td><td>楊木環</td><td>內科</td><td><a id="a1" href="index">取消預約</a></td><br></tr>
                        </table>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>


                    </div>
                </div>


            </div>



        </div>
    </div>

</body>
</html>
