@using dCareProject.Models


@{
    ViewBag.Title = "step3";
    DBManager dbm = new DBManager();
    var query = dbm.getLastRes;

    DocManger dtm = new DocManger();
    var query1 = dtm.getDoc;


}

<link href="~/Content/patient/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/patient/css/metro.css" rel="stylesheet" />
<script src="~/scripts/patient/js/jquery.js"></script>
<script src="~/scripts/patient/js/metro.js"></script>
<style type="text/css">
    .main {
        height: 400px;
        /*border: 1px solid;*/
    }
</style>
<script type="text/javascript">
    function btnRedirection(){
        setInterval(function(){
            // alert("Hello");
            //location.href="index";
        }, 3000)

    };
</script>


<body style="font-family:微軟正黑體">
    <div class="container">
        <div class="col-md-12">
            <div class="stepper" data-role="stepper" data-steps="3" data-start="3">
            </div>
        </div>
        <div class="col-md-4">
            <p style="text-align:left;font-size:26px">健康量測</p>
        </div>
        <div class="col-md-4">
            <p style="text-align:center;font-size:26px">配對或指定醫生</p>
        </div>
        <div class="col-md-4">
            <p style="text-align:right;font-size:26px">完成</p>
        </div>
        <div class="col-md-12">
            <hr>
            <div class="main" style="text-align:center;font-size:30px;">

                請確認看診資訊<br>
                <br>
                <form id="form" class="topBefore" method="post" action="">
                    <script language="javascript">
                        var hours;
                        var Today = new Date();
                        document.write( Today.getFullYear()+ " 年 " + (Today.getMonth()+1) + " 月 " + Today.getDate() + " 日");

                    </script>

                    <br>
                    <script language="javascript">
                        var hours,timeValue;
                        var Today = new Date();
                        hours = Today.getHours();
                        timeValue = (hours >= 12) ? "下午 " : "上午 ";
                        document.write("時段:"+timeValue);
                    </script>

                    <script>
                        if (@query[0].看診紀錄表ID != null){
                            document.write(" <input id='報到結果' name='報到結果' type='hidden' value='true1'/>")
                        }
                        else{
                            document.write("<input id='報到結果' name='報到結果' type='hidden' value=''/>")
                        }

                    </script>
                    <br>科別:家醫科
                    <br>醫生:

                    @foreach (醫生 row in Model) {
                        @row.姓名
                        <input id='醫生ID' name='醫生ID' type='hidden' value='@row.ID' />

                    }

                    <input name='ID' type='hidden' value='@query[0].ID' />
                    <br><br><a style="color:red;font-size:60px"><b>看診號碼:70號</b></a><br><br>
                    <!--<button class="button info button rounded" id="opener" style="text-align:center;font-size:25px;width:30%" onclick="metroDialog.toggle('#dialog-place-bottom-center')">確認完成</button>-->
                    <input type="submit" class="button info button rounded" id="submitbox" name="OkButton" value="完成送出" data-role="popover" data-popover-mode="click" onclick="btnRedirection()"
                           data-popover-position="right" data-popover-text="已完成初步健檢，請等候叫號"
                           data-popover-background="bg-green" data-popover-color="fg-white" style="font-size:40px;height:70px">
                </form>

            </div>
        </div>
    </div>
</body>



