@using dCareProject.Models
@{ 
    PtManger ptm = new PtManger();
    var query = ptm.getPt;
}
<html>
<head>

    <link href="~/Content/patient/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/patient/css/metro.css" rel="stylesheet" />
    <script src="~/scripts/patient/js/jquery.js"></script>
    <script src="~/scripts/patient/js/metro.js"></script>
    <style type="text/css">
        .container {
            /*border: 1px solid Gray;*/
        }

        .main {
            height: 500px;
        }


        .radio {
            font-size: 30px;
        }
    </style>
    

</head>
<body style="font-family:微軟正黑體">
    <div class="container">
        <div class="col-md-12">

            <div class="stepper" data-role="stepper" data-steps="3" data-start="2">
            </div>
        </div>
        <div class="col-md-4">
            <p style="text-align:left;font-size:26px">健康量測</p>
        </div>
        <div class="col-md-4">
            <p style="text-align:center;font-size:26px">配對或指定醫生</p>
        </div>
        <div class="col-md-4">
            <p style="text-align:right;font-size:26px">完成</p>
        </div>
        <div class="col-md-12">
            <hr>
            <div class="main">
                <p id="test1" style="font-size:50px;text-align:center">選擇看診醫生</p><br>
                <br><br>
                <div class="row" style="text-align:center">
                    <div class="col-md-6">
                        <button class="button info button rounded" style="text-align:center;height:300px;width:300px" id="btnAssign" onclick="redirect()"><p style="font-size:50px">指定醫生<br /></p><p style="font-size:30px">@query[0].姓名<br />等待人數:10</p></button>
                    </div>
                    <div class="col-md-6">
                        <button class="button info button rounded" style="text-align:center;height:300px;width:300px" id="btnPair" onclick="redirect1()"><p style="font-size:50px">配對</p><p style="font-size:30px">等待人數:2</p></button>
                    </div>
                </div>
                <br>
                <div class="row" style="text-align:center">
                    <div class="col-md-6">

                        @*<script>
				    $(function(){
				        $("#select").select2();
				    });
                        </script>
                        <select id="select" style="font-size:40px;height:100px">
                            <option>卓清澤 內科</option>
                            <option>楊木環 內科</option>
                            <option>馬爾內 內科</option>
                        </select>*@
                        <script>
                            function redirect() {
                                window.location.href = 'step4';
                            }
                            function redirect1() {
                                window.location.href = 'step3';
                            }
                        </script>
                    </div>
                </div>
            </div>
            </div>

        </div>
</body>
</html>
