<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/patient/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/patient/css/metro.css" rel="stylesheet" />
    <script src="~/scripts/patient/js/jquery.js"></script>
    <script src="~/scripts/patient/js/metro.js"></script>
    <style type="text/css">
        .container {
            /*text-align:cente*/
        }
        .main {
                height:300px

        }

         
    </style>

    <script type="text/javascript">
		function addRow(){
			setTimeout(function(){
				$("#measurePreloader").hide();
				var codes="";
				codes += "<tr>";
				codes += "<td>" + "68公斤" + "</td>";
				codes += "<td>" + "35.4&#8451;" + "</td>";
				codes += "<td>" + "94％" + "</td>";
				codes += "<td>" + "78/bpm" + "</td>";
				codes += "</tr>";
				$("#measureTable").append(codes);
				$("#startMeasure").hide();
				$("#btnNextStep").css("display","inline");
			},5000);
		}

    </script>
</head>
<body style="font-family:微軟正黑體">
    <div class="container">
        <div class="col-md-12">

            <div class="stepper" data-role="stepper" data-steps="3" data-start="1">
            </div>
        </div>
        <div class="col-md-4">
            <p style="text-align:left;font-size:26px">健康量測</p>
        </div>
        <div class="col-md-4">
            <p style="text-align:center;font-size:26px">配對或指定醫生</p>
        </div>
        <div class="col-md-4">
            <p style="text-align:right;font-size:26px">完成</p>
        </div>
        <div class="col-md-12">
            <hr>
            <div class="main" style="font-size:40px;">
                陳歐太&nbsp您好，請依序進行量測:
                <table class="table striped" id="measureTable">
                    <tr>
                        <th>體重</th>
                        <th>體溫</th>
                        <th>血氧</th>
                        <th>脈搏</th>
                    </tr>
                </table>
                <div data-role="preloader" data-type="cycle" data-style="dark" style="margin:auto" class="preloader-cycle dark-style" id="measurePreloader">
                    <div class="cycle"></div>
                </div>
                <hr>

                <div style="text-align:center">
                    <button class="button success button rounded" onclick=addRow() id="startMeasure" style="width:300px;height:100px;font-size:25px">
                        開始量測 
                    </button>
                </div>
            </div>

            <div style="text-align:center">
                <button class="button info button rounded" id="btnNextStep" style="width:300px;height:50px;font-size:25px;display:none">
                    <a href="step2">下一步</a>
                </button>
                <br>
            </div>
        </div></div>
</body>
</html>
